<div id="container-instructions">
    <h1>END OF PART 2</h1>

    <hr />

    <p>Please list all other rules you considered:</p>

    <div class="instructions well">

        <form id="therulequiz" action="debrief" method="post">

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-3">
                    Other Rules Description:
                </div>
                <div class="col-md-9">
                    <textarea id="other_rules_desc" name="other_rules_desc" rows="4" cols="30"></textarea>
                </div>
            </div>
            <!-- end of a question -->
        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
                <p id="otherRequiredText" style="color:white;">
                    Description of rule is required before continuing.
                </p>
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
