<div id="container-instructions">
    <h1>END OF PART 1</h1>

    <hr />

    <p>You reached the maximum number of trials. Did you get the rule?</p>
    <p>In the text area below, please describe what you believe to be the rule for
    getting a correct answer in the trials you just performed. Be very brief.</p>

    <div class="instructions well">

        <form id="therulequiz" action="debrief" method="post">

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-3">
                    Rule Description:
                </div>
                <div class="col-md-9">
                    <textarea id="rule_desc" name="rule_desc" rows="4" cols="30"></textarea>
                </div>
            </div>
            <!-- end of a question -->
        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
