<div id="container-instructions">
    <h1>Almost Done!</h1>

    <hr />

    <p>Congratulations. You have finished all trials. Please click the CONTINUE button below to complete this experiment.</p>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
