<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

         <p>
             <b>Part 2</b>
        </p>
        
        <p>
            In this part, we will give you the rule that you must use in every trial.
        </p>
        
        <p>
            The rule is to select the dot that is closest to you
        </p>
        
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
