<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <h2>Part 1 - AVAQ Questionnaire</h2>

        <p>This questionnaire is designed to ...</p>
        <p>For each question, indicate frequency over the past 1 year. If you have not had this experience reply ‘never’ and move to the next question.</p>
        <ul><li><b>Never:</b> I never had this experience/I have not had this experience in the past 1 year.</li>
        <li><b>Sometimes:</b> I occasionally had this experience in the past 1 year (1–2 times per month). </li>
        <li><b>Often:</b> I often had this experience in the past 1 year (1–2 times per week).</li>
        <li><b>Nearly always: I nearly always had this experience in the past 1 year (daily).</li></ul>

        <p>Please answer the questions as honestly as you can.</p>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
