<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            <b><big>Please remember the rule and choose the dot that’s closest to you.</big></b>
        </p>
        
        <p>
            Press CONTINUE to begin Part 2.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-7">
            	
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Continue <span class="glyphicon glyphicon-arrow-right"></span>
	           </button>
            </div>
        </div>
    </div>

</div>
