<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <h2>Part 3</h2>
        <p>
            In this part, we will give you the rule that you must use in every trial.
        </p>
        
        <p>
            <b><big>The rule is: always choose the dot that is closest to you.</big></b>
        </p>
         <p>
            This time, there will not be any feedback (no thumbs ups or down, and no sound).
        </p>
        
        <p>
            As before, use the “r” key if the red dot is closer, or the “g” key if the green dot is closer.
        </p>
        
        <p>
            Part 3 will end after 40 trials.
        </p>
        <p>
            Press CONTINUE to begin Part 3.
        </p>
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <!--<button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>-->
                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Continue <span class="glyphicon glyphicon-arrow-right"></span>
	           </button>
            </div>
        </div>
    </div>

</div>
