<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <h2>Part 1 - PDI Questionnaire</h2>

        <p>This questionnaire is designed to measure beliefs and vivid mental experiences. We believe that they are much more common than has previously been supposed, and that most people have had some such experiences during their lives. Please answer the following questions as honestly as you can. There are no right or wrong answers, and there are no trick questions.</p>
        <p><b>Please note that we are NOT interested in experiences people may have had when under the influence of drugs.</b></p>
        <h3>IT IS IMPORTANT THAT YOU ANSWER <i>ALL</i> QUESTIONS.</h3>
        <p>The questionnaire is comprised of YES/NO questions. </p>
        <p>For the questions you answer YES to, rating scales will appear on the right, asking you to pick a number (1-5) to rate: </p>
        <ol type="a">
        <li>how distressing these beliefs or experiences are</li>
        <li>how often you think about them; and</li>
        <li>how true you believe them to be.</li>
        </ol>
        <p>If you answer NO please move on to the next question.</p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
