<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <h2>Part 1 - CDS Questionnaire</h2>

        <p>This questionnaire describes strange and ‘funny’ experiences that normal people may have in their daily life. We are interested in the experiences.</p>
        <ul><li>frequency – how often you have had these experiences over the last six months, and</li>
        <li>their approximate duration. </li></ul>
        <p>To the right of each question please choose a number that estimates how frequently (use 0–4 scale given below) you estimate you have had this symptom over the last six months, and how long (use 0–6 scale below) on average the symptom has tended to last for.  If not sure, give your best guess.  Please use the following scales: </p>
        <ul><li><b>Frequency: </b>0 = never;  1= rarely;  2=often;  3=very often;  4=all the time</li>
        <li><b>Duration (on average it lasts): </b>1=few seconds;  2=few minutes;  3=few hours 4=about a day;  5=more than a day;  6=more than a week</li></ul>
        <p>Please answer the questions as honestly as you can.</p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
