<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <h2>Part 2</h2>

        <p>
            In what follows, you will go through a number of trials.
        </p>
        
        <p>
            In each trial you will see a 3-D object that oscillates.
        </p>
        
        <p>
            At the end of the oscillation, there will be two dots on the object:
a green dot and a red dot.
        </p>
        <p style="color: red;"><b>BEFORE PROCEEDING, PLEASE MAKE SURE TO MAXIMIZE THIS WINDOW SO IT TAKES UP YOUR ENTIRE SCREEN</b></p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
                <center>
                <img src="../static/images/dotsExample.png" alt="Example">
                </center>
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
