<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <h2>Part 2 (continued)</h2>
         <p>
            Part 2 of the experiment will end either when you get 8 correct responses in a row,
        </p>
        
        <p>
            or after 65 trials in case you do not get the rule.
        </p>
        
        <p>
            Part 3 will  follow immediately after Part 2. 
        </p>
        
        <p>
            Press BEGIN EXPERIMENT to start.
        </p>
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
<!--                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>-->
                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
            </div>
        </div>
    </div>

</div>
